<hr>
<!--Srodek strony wykresy-->
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/wykres1.png" alt="Wykres dla osiedla">
    <div class="card-body">
      <h5 class="card-title">Monitoring Osiedla</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez całe osiedle.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/wykres2.png" alt="Wykres dla Budynku 1">
    <div class="card-body">
      <h5 class="card-title">Monitoring Budynku 1</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez budynek 1.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/wykres3.png" alt="Wykres dla Budynku 2">
    <div class="card-body">
      <h5 class="card-title">Monitoring Budynku 2</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez budynek 2.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
</div>
<hr>