<nav class="navbar navbar-light bg-light"> 
  <a class="navbar-brand" href="#"> <!-- logo-->
      <img src="images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">FIT ENERGY
  </a>
  <div class="row no-gutters">
      <div class="d-flex">
      <!--Przyciski wybierz osiedle/monitoruj/zarządzaj-->
          <div class="menu">
              <app-wybierzosiedle></app-wybierzosiedle>
              <app-monitoruj></app-monitoruj>
              <app-zarzadzaj></app-zarzadzaj>
          </div>
          <!--przyciski wybierz osiedle/monitoruj/zarządzaj-->  
      </div>   
  </div>
</nav>