<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Monitorowanie i Zarządzanie energią elektryczną</h1>
    <p class="lead">System Fit-Energy to praktyczne narzędzie, służące do zarządzania zużyciem energii elektrycznej. 
        Przeznaczone jest dla osób, które chcą oszczędzać i na bieżąco analizować koszty poniesione na zużycie mediów użytkowych.</p>
  </div>
</div>
<hr>
<!--Srodek strony-->
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/wykres.jpg" alt="Wykres dla osiedla">
    <div class="card-body">
      <h5 class="card-title">Monitoring Osiedla</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez całe osiedle.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/wykres.jpg" alt="Wykres dla Budynku 1">
    <div class="card-body">
      <h5 class="card-title">Monitoring Budynku 1</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez budynek 1.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/wykres.jpg" alt="Wykres dla budynku 2">
    <div class="card-body">
      <h5 class="card-title">Monitoring Budynku 2</h5>
      <p class="card-text">Wykres poboru energii elektrycznej przez budynek 2.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ostatnia aktualizacja 5 minut temu.</small>
    </div>
  </div>
</div>
<hr>
<!-- STOPKA -->		
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <!--Lewa kolumna-->
      <div class="col-md-4">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Fit-Energy system monitorowania i zarządzania energią elektryczną</h5>
          <p>System Fit-Energy to praktyczne narzędzie, służące do zarządzania zużyciem energii elektrycznej. 
              Przeznaczone jest dla osób, które chcą oszczędzać i na bieżąco analizować koszty poniesione na zużycie mediów użytkowych. </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <!--Prawa kolumna-->
      <div class="col-md-2 mx-auto">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">System Fit-Energy</h5>
          <ul class="list-unstyled">
              <li>
                  <a href="#!">Wybierz budynek</a>
              </li>
              <li>
                  <a href="#!">Monitoruj</a>
              </li>
              <li>
                  <a href="#!">Zardządzaj</a>
              </li>
              <li>
                  <a href="#!">O systemie</a>
              </li>
          </ul>
      </div>
      <!--Druga kolumna-->
    </div>
</div>
<hr> 

</footer>
<div class="card text-center">
  <div class="card-header">
    <b>Zadbaj o swoją energię!</b>
  <div class="card-body">
    <h5 class="card-title">Dołącz i monitoruj swoją energię elektryczną</h5>
    <!-- Przycisk zarejestruj-->
    <div class="shadow p-3 mb-5 bg-white rounded">
      <a href="rejestracja/register/register.view.html"  data-toggle="modal" data-target="#exampleModale" 
      class="btn btn-dark" role="button">Zarejestruj się</a>
    </div>
    <!-- Przycisk zarejestruj-->
  </div>
  <div class="card-footer text-muted">
    TEST TEST TEST
  </div>
</div>
